/* Defining these in CSS instead of tailwind config to limit potential for upstream conflicts */
/* TODO: MOVE THIS STYLING OVER TO THE TAILWIND CONFIG NOW */
/* Base circle styling */
.circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 10px;
    height: 10px;
}

/* Static green dot */
.circle::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #75daad;
    border-radius: 50px;
}

/* Animation-specific styles */
.animated-circle::before {
    content: "";
    position: relative;
    display: block;
    width: 250%;
    height: 250%;
    box-sizing: border-box;
    margin-left: -75%;
    margin-top: -75%;
    border-radius: 45px;
    background-color: #75daad;
    animation: pulse 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.animated-circle::after {
    animation: circle 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.33);
    }

    80%,
    100% {
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}

.rainbow-minimal-glow {
    position: relative;
    background: linear-gradient(to right,
            rgba(255, 128, 128, 0.8) 0%,
            rgba(255, 192, 128, 0.8) 14%,
            rgba(255, 255, 128, 0.8) 28%,
            rgba(128, 255, 128, 0.8) 42%,
            rgba(128, 255, 255, 0.8) 56%,
            rgba(128, 128, 255, 0.8) 70%,
            rgba(192, 128, 255, 0.8) 84%,
            rgba(255, 128, 192, 0.8) 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-flow 2s linear infinite;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
}

@keyframes rainbow-flow {
    0% {
      background-position: 0% center;
    }
    100% {
      background-position: 200% center;
    }
  }

.rainbow-minimal-glow::before {
    position: absolute;
    left: 0;
    top: 0;
    color: rgba(255, 255, 255, 0.15);
    z-index: -1;
}

.rainbow-minimal-glow::after {
    position: absolute;
    left: 0;
    top: 0;
    color: transparent;
    z-index: -2;
}